/* THE WRAPPER */

body {
	font-family: Helvetica, sans-serif;
	font-size: 12pt;
	background: #ddd;
}

#wrapper {
	position: relative;
	max-width: 25em;
	border: 1px solid rgba(0, 0, 0, 0.507);
	margin: 1em auto auto auto;
	padding: 1em;
	border-radius: 0.5em;
	background: white;
}

h1 {
	margin-top: 0;
	font-size: 100%;
}

/* THE FORM */

form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	gap: 5px;
}

form > * {
	flex: 1;
}

div.field label {
	text-transform: uppercase;
	font-size: 60%;
	display: block;
	font-weight: bold;
}

div.field input.ng-invalid {
	color: red;
}
/* THE FRAGMENTS */

#response ul {
	padding: 0;
	width: inherit;
	margin: 0px;
}

li.fragment, #wrapper {
	box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.432);
}

li.fragment {
	list-style-type: none;
	display: block;
	margin-top: 1.4em;
}

li.fragment > table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

li.fragment td, li.fragment th {
	border-right: 1px dashed black;
	width: 1em;
}

li.fragment th {
	text-transform: uppercase;
	font-size: 60%;
	font-weight: bold;
	background: #ccc;
	padding: 0.4em;
}

li.fragment td {
	text-align: center;
	padding: 0.4em 0.5em 0.4em 0.5em;
	min-width: 2.2em;
}

li.fragment th:first-child {
	min-width: 0;
	padding: 0.4em 0 0.4em 0.4em;
}

li.fragment td:first-child {
	min-width: 0;
	padding: 0;
}

li.fragment td:last-child, li.fragment th:last-child {
	border-right: none;
	width: auto;
}

li.fragment .offset {
    position: relative;
	top: -20px;
	text-align: center;
	color: rgb(90, 90, 90);
}

li.fragment .offset.start {
    left: 4px;
}

li.fragment .offset.middle {
	left: 10px;
}

li.fragment .offset.end {
	right: 0px;
	text-align: right;
}

li.fragment th:last-of-type {
	text-align: right;
	padding-right: 0px;
}


/* THE CREDITS */

#credits {
	font-size: 11px;
	margin: 2em 1em 1em auto;
	text-align: center;
}

#credits p {
	margin: 0;
}

#credits a {
	text-decoration: none;
	font-weight: 600;
	color: #333;
}

#credits a:hover{
	text-decoration: underline;
}